
<h1> Search your WIKI here </h1>

<div class="field">
	<%= text_field_tag 'search-query'%>
</div>
<div class="field">
	<%=button_tag 'search Wiki', :type=>'button', :id=>"run-Crawler" %>
</div>

<div class="field">
	<%= text_area_tag 'search-result'%>
</div>

<%= javascript_tag do %>
	$("#run-Crawler").click(function(){
		var search_query = $("#search-query").val().split(' ').join('+');

		$.get(
		"/proxy",
		{method : 1, data : search_query},
		function(result) {
			data = JSON.parse(result);
			var results = [];
			$.each(data.query.pages, function(item){
				results = results.concat(this.fullurl);
			});
			$.each(results, function(){
				$("#search-result").append(this);
			});
		}
		);

	});
<% end %>