
<h1> Search your WIKI here </h1>

<div class="field">
	<%= text_field_tag 'search-query'%>
</div>
<div class="field">
	<%=button_tag 'search Wiki', :type=>'button', :id=>"run-Crawler" %>
</div>

<div id="related_pages">
</div>

<br><br><br><br><br><br><br><br><br><br>

<iframe id="main_page">
</iframe>

<%= javascript_tag do %>
	$("#run-Crawler").click(function(){
		var search_query = $("#search-query").val().split(' ').join('+');

		$.get(
			"/proxy",
			{method : 1, data : search_query},
			function(result) {
				$("#related_pages").empty();
				links_items = result.links;
				$("#main_page").attr("src",result.page_url);
				$.each(links_items, function(){
					$("#related_pages").append('<a href=\"'+this+'\">'+this+'</a><br>')
				});
			}
		);
	});
<% end %>